/target/
/bin/
/build/
/.mvn/
!.mvn/wrapper/maven-wrapper.jar
/.idea/
*.iml
*.ipr
*.iws
/.vscode/
.gradle/
/build/
/logs/
/test-output/
/src/main/resources/application.properties
/src/main/resources/application.yml
/.metadata/
*.log
dependency-reduced-pom.xml
*.lock
*.tmp
.DS_Store
Thumbs.db
*.swp
/docs/
